menu "CAN Device Drivers"
	depends on CAN

config CAN_VCAN
	tristate "Virtual Local CAN Interface (vcan)"
 	depends on CAN
	default N
 	---help---
	  Similar to the network loopback devices, vcan offers a
	  virtual local CAN interface.

	  This driver can also be built as a module.  If so, the module
	  will be called vcan.

config CAN_SLCAN
	tristate "Serial / USB serial CAN Adaptors (slcan)"
	depends on CAN
	default N
	---help---
	  CAN driver for several 'low cost' CAN interfaces that are attached
	  via serial lines or via USB-to-serial adapters using the LAWICEL
	  ASCII protocol. The driver implements the tty linediscipline N_SLCAN.

	  This driver can also be built as a module.  If so, the module
	  will be called slcan.

config CAN_DEBUG_DEVICES
	bool "CAN devices debugging messages"
	depends on CAN
	default N
	---help---
	  Say Y here if you want the CAN device drivers to produce a bunch of
	  debug messages to the system log.  Select this if you are having
	  a problem with CAN support and want to see more of what is going
	  on.

config CAN_SJA1000
	depends on CAN
	tristate "Philips SJA1000"
	---help---
	  The SJA1000 is one of the top CAN controllers out there. As it
	  has a multiplexed interface it fits directly to 8051
	  microcontrollers or into the PC I/O port space. The SJA1000
	  is a full CAN controller, with shadow registers for RX and TX.
	  It can send and receive any kinds of CAN frames (SFF/EFF/RTR)
	  with a single (simple) filter setup.

config CAN_I82527
	depends on CAN
	tristate "Intel 82527"
	---help---
	  The i82527 is a complex CAN controller that can handle RTR
	  frame replies on it's own. This feature (and diffent RX filters)  
	  lead to an amount of 15 message objects (for RX & TX). Message
	  object 15 has (as only) a shadow register for a reliable
	  receiption of EFF or(!) SFF frames at high CAN traffic.
	  This driver can send each type of CAN frames (SFF/EFF/RTR).
	  Using 4 message objects it can also receive each type of CAN
	  frames. But due to the onchip filter matching trigger method
	  it is not possible to determine the received RTR CAN-ID.
	  The reliable message object 15 receives SFF frames by default.
	  This message object 15 usage maybe changed with the mo15 param.

config CAN_MSCAN
	depends on CAN && (PPC || M68K || M68KNOMMU)
	tristate "Support for a Freescale MSCAN based chips"
	---help---
	  The Motorola Scalable Controller Area Network (MSCAN) definition
	  is based on the MSCAN12 definition which is the specific
	  implementation of the Motorola Scalable CAN concept targeted for
	  the Motorola MC68HC12 Microcontroller Family.

config CAN_MPC52XX
	tristate "Freescale MPC5200 onboard CAN controller"
	depends on CAN_MSCAN && (PPC_MPC52xx || PPC_52xx)
	default LITE5200
	---help---
	  If you say yes here you get support for Freescale MPC5200
	  onboard dualCAN controller.

	  This driver can also be built as a module.  If so, the module
	  will be called mpc52xx_can.

endmenu

